import Xz{{properCase name}} from '../demos/{{name}}.vue'

export default {
    title:`Xz{{properCase name}}`,
    component:Xz{{properCase name}}
}

export const {{properCase name}} = () =>({
    components:{ Xz{{properCase name}} },
    template:`
        <div>
            <xz-{{name}}/>
        </div>
    `
})